@import '~node_modules/modern-normalize/modern-normalize.css';

.gallery {
    display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  padding: 60px 0 0 0;
  margin: 0;
  list-style: none;
  max-width: calc(100vw - 80px);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.photo-card {
    position: relative;
  height: 450px;
  overflow: hidden;
}

.gallery img {
    display: block;
    width: 100%;
    height: 450px;
    object-fit: cover;
}

.info {
    background-color: rgba($color: #edebe8, $alpha: 0.8);
  color: rgb(90, 82, 72);
  position: absolute;
  display: flex;
  text-align: center;
  gap: 10px;
  padding: 5px 20px;
  bottom: 0;
  left: 0;
}

.search-form-wrapper {
    height: 50px;
    width: 100%;
    padding: 10px 0;
    background-color: rgba($color: #6fc1e5, $alpha: 0.8);
    position: fixed;
    z-index: 1;
}

.search-form {
    width: 300px;
    margin: 0 auto;
}

.search-button {
    border-radius: 5px;
    background-color: #2d9cec;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    color: antiquewhite;
    &:hover {
      background-color: #10a7da;
}
}

.search-form input {
    height: 30px;
    font-size: 15px;
    border-radius: 5px;
    border: none;
    outline: 1px solid #11c3db;
}

.load-more-btn {
    margin: 0 auto 50px;
  display: flex;
  border-radius: 5px;
  background-color: #1cbcd1;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  color: antiquewhite;
  &:hover {
    background-color: #167581;
}
}

.spinner {
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
}

.spinner div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    margin: 2px;
    border: 2px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
  }

.load-more-btn.is-hidden {
    display: none;
  }

.load-more-btn > .spinner.is-hidden {
    display: none;
}

.sl-caption {
    overflow: hidden;
    display: none;
}